@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

section {
  background-color: rgb(80, 147, 106);
  padding: 2px 5px 2px 5px;
  margin-top: 90px;
}

.phone-banner {
  background-color: black;
  color: white;
  padding: 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Oswald";
  line-height: 30px;
  letter-spacing: 1px;
}

.phone-icon {
  margin-right: 5px;
}