@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');


.home-banner {
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.tagline {
  color: white;
  font-family: "Oswald";
  letter-spacing: 1px;
}