.logo-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.everly-logo {
  width:60vw;
  height: auto;
  background-color: black;
  padding: 10px;
}

.menu-icon {
  height: 2rem;
  width: auto;
  color: white;
  margin-right: 5%;
}

